<header>
	<h1>Diligenciar encuesta</h1>
</header>
<div class="actions">
	<a href="./" class="button">Volver</a>
</div>
{{#each elements}}
	{{{renderControl this}}}
{{/each}}
<div class="actions">
	<span id="send-survey" class="button">Enviar</a>
</div>