<header>
	<h1>{{name}}</h1>
	<h2>{{subname}}</h2>
</header>
<div id="content">
	<div class="actions">
		<a href="./diligenciar">Diligenciar encuesta</a>
		<a href="./ver-resultados">Ver resultados</a>
	</div>
</div>